
  header {
    position: fixed;
    top: 0;
    left: 0;              /* optional: stellt sicher, dass der Header links ausgerichtet ist */
    width: 100%;
    z-index: 1000;
    background-color: #222;
    color: #fff;
    padding: 1rem;
  
    nav ul {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 2rem;
    }
  
    nav ul li a {
      color: #fff;
      text-decoration: none;
  
      &:hover {
        color: #f39c12;
      }
    }
    /* Für Handy-Bildschirme */
    @media (max-width: 768px) {
      justify-content: flex-start;
      margin-left: -2rem; // Schiebt das Menü etwas nach links
      gap: 1rem;         // Weniger Abstand zwischen den Links
    }
  }
   